.navigation-bar{
    height: 78px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}
.logo-img1{
    width: 31.168px;
    height: 32px;
    
}
.logo-img2{
    width: 143.117px;
    height: 28.973px;
    fill: #173A56;
    stroke-width: 1px;
    stroke: #000;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 350px;
    height: 28px;
    margin-left: 320px;
    margin-top: 24px;
    margin-bottom: 26px;
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
}
.left-section{
    margin-left: 143px;
    margin-top: 22px;
    margin-bottom: 24px;
}
btn{
    display: flex;
    justify-content: baseline;

}
.sign-in-btn{
    width: 102px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    color: #173A56;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 11px;
    padding-bottom: 11px;    
}
.sign-up-btn{
    width: 110px;
    height: 46px;
    border-radius: 4px;
    background: #F90;
    border: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 11px;
    padding-bottom: 11px;
}/*style of nav ends*/

.header-info{
    display: flex;
}
.header-info h1{
    width: 518px;
    height: 108px;
    margin-top: 211px;
    margin-left: 145px;
    margin-bottom: 30px;
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; 
}
.header-info p{
    width: 458px;
    height:95px ;
    margin-left:145px ;
   margin-right: 116px;
   margin-bottom: 45px;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.header-info image{
    margin-top: 157px;
    margin-right: 214px;
    width: 467px;
    height: 438px;

}
.header-info button{
    margin-left: 145px;
    margin-right:30.5px ;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background: #F90;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding-left: 41px;
    padding-right: 41px;
    padding-top:15px ;
    padding-bottom:14px ;

}
.header-info a{
    width: 135px;
    height: 24px;
    color: #F90;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
   
}/*header finishes*/

.feature{
    width: 1095px;
    height: 204px;

}
.feature h2{
    width: 539px;
    height: 108px;
    color: #2F281E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
    vertical-align: middle;
    margin-left: 439px;
    margin-top: 136px;
    margin-bottom: 54px;
}
.feature-info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
   
}
.feature-info .card1,.card2,.card3,.card4{
    width: 240px;
    height: 178px;
    
}
.feature-info .card1{
    margin-left: 161px;
}
.feature-info .card2{
    margin-right: 45px;
    margin-left: 46px;
}
.feature-info .card3{
    margin-right: 44px;
}
.feature-info .card4{
    margin-right: 144px;
}

.feature-info h3{
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.feature-info p{
    color: #544837;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}
.section1 button{
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background: #F90;
    border: none; 
    margin-left: 621px;
    margin-bottom: 90px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*feature party ends*/
.section2{
    display: flex;
    margin-top: 146px;
    margin-left: 145px;
}
.section2 p{
    margin-bottom: 0;
    margin-right: 104px;
    width: 486px;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}
.section2 h2{
    margin-top: 0;
    margin-bottom: 0;
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}/*section2 ends*/
.section3{
    display: flex;
    margin-left: 144px;
    margin-top: 118px;
}
.product-managers, image{
    margin-right: 102px;
}
.section3 .p1, p{
    width: 486px;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */

}
.section3 .p{
    width: 385px;
}
.section3 h2{
    margin-top: 0px;
    color: #2F281E;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.section3 .p2{
    margin-bottom: 3px;
}
.section3 .tick-icon{
    width: 35px;
    height: 35px;
    margin-right: 30px;
}
.section3 .p3{
    height: 52px;
    width: 365px;
}